<html>
  <head>
    <title>DeepTest Test Server Status</title>
    <style>
      .ok {
        background-color: #AAFFAA;
      }

      .error {
        background-color: #FFAAAA;
      }

    </style>
  </head>
  <body>
    <h1>DeepTest Test Server Status</h1>
    <table>
      <tr>
        <th>Mirror Server</th>
        <th>Bound To</th>
        <th>Workers / Client</th>
        <th>Clients</th>
      </tr>
      <% test_server_statuses.each do |uri, status|
           if Exception === status %>
             <tr class="error">
               <td><%=h uri %></td>
               <td colspan="3"><%=h status.message %></td>
             </tr>
        <% else %>
             <tr class="ok">
               <td><%=h uri %></td>
               <td><%=h status.binding_uri %></td>
               <td><%=h status.number_of_workers %></td>
               <td><%=h status.remote_worker_server_count %></td>
             </tr>
       <% end
         end %>
    </table>
  </body>
</html> 
